
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 160px;
    bottom: 0px;
    transition: all 0.2s;
    z-index: 9999;
    overflow: auto;
    /* background-color: yellowgreen; */
}

.list {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: violet; */
    height: 1000px;
}

.link {
    display: block;
    text-align: left;
    color: rgb(137, 137, 137);
    font-size: 20px;
    line-height: 52px;
    font-weight: lighter;
    z-index: 9999;
}

.link:hover {
    color: #000;
}

/* .footerWrapper {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
} */


@media screen and (max-width: 1024px){
    .list {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
    }
    .link {
        display: block;
        font-size: 21px;
        line-height: 55px;
        margin: 0 20px;
    }
    .link:hover {
        color: rgb(56, 54, 53);
    }
}


@media screen and (max-width: 768px){
    .list {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
    .link {
        display: block;
        font-size: 21px;
        line-height: 60px;
        margin: 0 20px;
    }
    .link:hover {
        color: rgb(56, 54, 53);
    }
}

@media screen and (max-width: 414px){
    .container{
        width: 100%;
        height: 500px;
        position: absolute;
        left: 0;
        right: 0;
        top: 160px;
        bottom: 0px;
        transition: all 0.2s;
        z-index: 9999;
        overflow: auto;
    }
    .list {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-36%);
        height: 100%;
        /* background-color: rgb(37, 219, 174); */
    }
    .link {
        display: block;
        font-size: 18px;
        line-height: 42px;
        margin: 0 20px;
    }
    .link:hover {
        color: rgb(56, 54, 53);
    }
}



