.logoWrapper {
    width: 210px;
    height: 35px;
    cursor: pointer;
}

.img {
    width: 100%;
    height: 100%
}

@media screen and (max-width: 1024px)  {
    .logoWrapper {
        width: 112px;
        height: 18px;
        cursor: pointer;
    }

    .img {
        width: 100%;
        height: 100%
    }
}
