
.videoWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
    background-color: tomato;
}

.item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(56, 54, 53);
}

.video {
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 100%;

}

