.container {
    box-sizing: border-box;
    padding: 180px 180px 0 180px;
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: teal; */
}

.imgWrapper {
    flex-shrink: 0;
    width: 520px;
    height: 580px;
    overflow: hidden; 
}

.img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
}

.content {
    margin-left: 90px;
    width: 100%;
}

.title {
    font-weight: normal;
    font-size: 36px;
    color: rgb(137, 137, 137);
    box-sizing: border-box;
    margin-top: -10px;
    margin-bottom: 0;
    padding-bottom: 26px;
}

.cn, .en {
    display: block;
    margin-bottom: 0;
}

.cn {
    font-weight: lighter;
    font-size: 18px;
    color: rgb(137, 137, 137);
    line-height: 40px;
    text-align: justify;
    letter-spacing: 3px;
}

.en {
    font-weight: lighter;
    font-size: 18px;
    color: rgb(137, 137, 137);
    line-height: 40px;
    text-align: justify;
    word-spacing: 5px;
}

.job {
    margin-top: 25px;
    margin-bottom: 0px;
}

.item {
    font-weight: normal;
    font-size: 21px;
    color: rgb(137, 137, 137);
    line-height: 40px;
    margin-bottom: 2px;
}

.item span {
    margin-left: 50px;
}

.item .last {
    margin-left: 90px;
}

@media screen and (max-width: 1024px){
    .container {
        position: relative;
        left: 0;
        top: 100px;
        padding: 0 150px;
        display: flex;
        flex-direction: column;
    }

    .imgWrapper {
        flex-grow: 1;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    .img {
        width: 100%;
        height: 100%;
        transform: translateX(0);
        margin-left: 0;
    }
    
    .content {
        box-sizing: border-box;
        padding-top: 90px;
        margin-left: 0;
        flex-shrink: 0;
        width: 65%;
    }
    
    .title {
        font-weight: normal;
        font-size: 36px;
        color: rgb(137, 137, 137);
        box-sizing: border-box;
        padding-bottom: 35px;
        margin-top: 0px;
    }
    
    
    .cn {
        font-weight: lighter;
        font-size: 16px;
        color: rgb(137, 137, 137);
        line-height: 40px;
        text-align: justify;
        letter-spacing: 3px;
    }
    
    .en {
        font-weight: lighter;
        font-size: 16px;
        color: rgb(137, 137, 137);
        line-height: 40px;
        text-align: justify;
        word-spacing: 5px;
    }
    
    .job {
        margin-top: 21px;
        box-sizing: border-box;
        padding-bottom: 30px;
    }
    
    .item {
        font-weight: normal;
        font-size: 18px;
        color: rgb(137, 137, 137);
        line-height: 40px;
    }
    
    .item span {
        margin-left: 20px;
    }
    
    .item .last {
        margin-left: 60px;
    }
}

@media screen and (max-width: 800px){
    .container {
        position: relative;
        left: 0;
        top: 100px;
        padding: 0 100px;
        display: flex;
        flex-direction: column;
    }

    .imgWrapper {
        /* flex-shrink: 0; */
        width: 100%;
        height: 100%;
    }
    
    .img {
        width: 100%;
        height: 100%;
        transform: translateX(0);
        margin-left: 0;
    }
    
    .content {
        box-sizing: border-box;
        padding-top: 48px;
        margin-left: 0;
        flex-shrink: 0;
        width: 80%;
    }
    
    .title {
        font-weight: normal;
        font-size: 36px;
        color: rgb(137, 137, 137);
        box-sizing: border-box;
        padding-bottom: 28px;
        margin-top: 0px;
    }
    
    
    .cn {
        font-weight: lighter;
        font-size: 16px;
        color: rgb(137, 137, 137);
        line-height: 36px;
        text-align: justify;
        letter-spacing: 3px;
    }
    
    .en {
        font-weight: lighter;
        font-size: 16px;
        color: rgb(137, 137, 137);
        line-height: 36px;
        text-align: justify;
        word-spacing: 5px;
    }
    
    .job {
        margin-top: 20px;
        box-sizing: border-box;
        padding-bottom: 45px;
    }
    
    .item {
        font-weight: normal;
        font-size: 18px;
        color: rgb(137, 137, 137);
        line-height: 40px;
    }
    
    .item span {
        margin-left: 40px;
    }
    
    .item .last {
        margin-left: 80px;
    }
}


@media screen and (max-width: 414px){
    .container {
        position: relative;
        left: 0;
        top: 100px;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
    }

    .imgWrapper {
        width: 100%;
    }
    
    .img {
        width: auto;
        height: 384px;
        transform: translateX(-50%);
        margin-left: 50%;
    }
    
    .content {
        box-sizing: border-box;
        padding-top: 40px;
        margin-left: 0;
        width: 100%;
        padding-bottom: 200px;
    }
    
    .title {
        font-weight: normal;
        font-size: 26px;
        color: rgb(137, 137, 137);
        box-sizing: border-box;
        padding-bottom: 18px;
    }
    
    
    .cn {
        font-weight: lighter;
        font-size: 14px;
        color: rgb(137, 137, 137);
        line-height: 32px;
        text-align: justify;
        letter-spacing: 3px;
    }
    
    .en {
        font-weight: lighter;
        font-size: 14px;
        color: rgb(137, 137, 137);
        line-height: 32px;
        text-align: justify;
        word-spacing: 3px;
    }
    
    .job {
        margin-top: 18px;
        box-sizing: border-box;
        padding-bottom: 0px;
    }
    
    .item {
        font-weight: normal;
        font-size: 16px;
        color: rgb(137, 137, 137);
        line-height: 40px;
    }
    
    .item span {
        display: inline-block;
        margin-left: 16px;
    }

    .item .last {
        margin-left: 46px;
    }
}

@media screen and (max-width: 414px){
    .container {
        position: relative;
        left: 0;
        top: 100px;
        padding: 0 24px;
        display: flex;
        flex-direction: column;
    }

    .imgWrapper {
        width: 100%;
    }
    
    .img {
        width: auto;
        height: 384px;
        transform: translateX(-50%);
        margin-left: 50%;
    }
    
    .content {
        box-sizing: border-box;
        padding-top: 40px;
        margin-left: 0;
        width: 100%;
        padding-bottom: 200px;
    }
    
    .title {
        font-weight: normal;
        font-size: 26px;
        color: rgb(137, 137, 137);
        box-sizing: border-box;
        padding-bottom: 18px;
    }
    
    
    .cn {
        font-weight: lighter;
        font-size: 14px;
        color: rgb(137, 137, 137);
        line-height: 32px;
        text-align: justify;
        letter-spacing: 3px;
    }
    
    .en {
        font-weight: lighter;
        font-size: 14px;
        color: rgb(137, 137, 137);
        line-height: 32px;
        text-align: justify;
        word-spacing: 3px;
    }
    
    .job {
        margin-top: 18px;
        box-sizing: border-box;
        padding-bottom: 0px;
    }
    
    .item {
        font-weight: normal;
        font-size: 16px;
        color: rgb(137, 137, 137);
        line-height: 40px;
    }
    
    .item span {
        display: block;
        margin-left: 0px;
    }

    .item .last {
        margin-left: 0px;
    }
}